<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>me.coi.bgtask.fetch</string>
		<string>me.coi.bgtask.remote-notification</string>
		<string>me.coi.bgtask.processing</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>ox_coi</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>coime</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>Access to your Media Library is required in order to share music files with your friends.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Access to your Calendar is required in order to read apointments. (Not in use ATM)</string>
	<key>NSCameraUsageDescription</key>
	<string>Access to your Camera is required in order to take photos.</string>
	<key>NSContactsUsageDescription</key>
	<string>Access to your system addressbook is required in order to import contacts to the app addressbook.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Access to the Location Sensor is required in order to track your movements permanently. (Not in use ATM)</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Access to the Location Sensor is required in order to track your movements when the app is being used. (Not in use ATM)</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Access to your Microphone is required in order to take audio messages.</string>
	<key>NSMotionUsageDescription</key>
	<string>Access to the Motion Sensor is required in order to I don&apos;t know. (Not in use ATM)</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Access to the Photo Gallery is required in order to add attachments.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Access to Speech-Recognition is required in order to send data to Apple services. (Not in use ATM)</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>UIFileSharingEnabled</key>
	<true/>
</dict>
</plist>
